* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-image {
  background: url("../images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
  height: 200px;
  width: 300px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content {
  width: 300px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
}
.title {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", sans-serif;
  margin-top: 10px;
  font-size: 1.5em;
}

.sub-title {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 4px;
}

.text-content {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 500;
}

.content-price {
  display: flex;
  align-items: center;
}

.offert-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.real-price {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  margin-left: 10px;
  font-size: 13px;
  text-decoration: line-through;
}

button {
  margin-top: 20px;
  width: 100%;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: hsl(158, 36%, 37%);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .left-image {
    background: url("../images/image-product-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    height: 400px;
    width: 200px;
    background-color: #fff;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .content {
    height: 400px;
    width: 250px;
    background-color: #fff;
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
  }
  .title {
    margin-top: 15px;
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .left-image {
    background: url("../images/image-product-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 266px;
    transform: scale(1.5);
    background-color: #fff;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .content {
    height: auto;
    width: 400px;
    margin-left: 67px;
    background-color: #fff;
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 82px 40px;
  }
  .title {
    margin-top: 25px;
    font-size: 3em;
  }
  button {
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
  }
}


