h1 {
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
#div_temas {
    display: none;
}


.product_cell {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.laptop > h2 {
    color: blue;
}
.laptop > h3 {
    color:cadetblue;
    text-align: right;
    padding-right: 10px;
}

.celular > h2 {
    color: red;
}
.celular > h3 {
    color: brown;
}

.audifono > h2 {
    color: green;
}
.audifono > h3 {
    color: aquamarine;
}