h1 {
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
#div_temas {
    display: none;
}


.product_cell {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

