* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: red;
}

.grid-container {
    background-color: white;
    height: 100vh;
    max-width: 600px;
    padding: 20px;
}

@media (min-width: 600px) {
    .grid-container {
        margin: 40px auto;
        border-radius: 20px;
        padding: 30px;
    }
}
