* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(210, 60%, 98%)
}

.grid-container {
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
}

@media (min-width: 600px) {
    .grid-container {
        margin: 40px auto;
        border-radius: 20px;
        padding: 30px;
    }
}
