* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(210, 60%, 98%);
}

.grid-container {
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;

    display: grid;
    grid-template-rows: auto 1fr;

    /* Areas */
    grid-template-areas:
      "header"
      "main"
    ;
}

@media (min-width: 600px) {
    .grid-container {
        margin: 40px auto;
        border-radius: 20px;
        padding: 30px;
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-area: header;
}

.header .badge {
    font-size: 0.75em;
    padding: 2px 12px;
    margin: 0px 12px;
    background-color: hsl(219, 85%, 26%);
    color:hsl(0, 0%, 100%);
    border-radius: 6px;
}

.header .control {
    text-align: right;
    color: hsl(219, 14%, 63%);
}
.header .control:hover {
    color: hsl(219, 85%, 26%);
    text-decoration: none;
}

.main {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    grid-area: main;
}

.main .card {
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(210, 60%, 98%)
}