.bg__login {
  background: url("../../assets/cover.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 !important;
  padding: 0 !important;
}
