* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

.container {
    width: 100%;
    margin: 0px;
    background-color: white;
    padding: 20px;
}


h1 {
    text-align: center;
    margin: 0px;
}

#setup {
    width: 80%;
    margin: 20px auto;
}

.btn {
    padding: 0.8rem 1.8rem;
    border-radius: 0.6rem;
    box-shadow: 2px 2px 10px #999;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 800;
    display: block;
    margin: 0 auto;
}
.btn:hover {
    cursor: pointer;
    box-shadow: none;
    filter: brightness(2);
}

#game {
    width: 80%;
    margin: 20px auto;
    display: block;
    text-align: center;
}

#game input {
    width: 80px;
    height: 40px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: inherit;
    text-align: center;
}

#game #result_decimals {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    overflow-wrap:break-word;
}


@media (min-width: 600px) {
    .container {
        width: 600px;
        margin: 40px auto;
        padding: 30px;
    }
}