* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  /* un ajuste horizontal siempre y cuando flex-direction: column  */
  align-items: center;
}

.container__title {
  padding: 12px;
}

/* 16px = 1em */
.container__title h3 {
  font-size: 1.4em;
}

.container__title input {
  display: block;
  margin-top: 20px;
  padding: 8px;
  width: 400px;
  border-radius: 4px;
  border: solid 0.5px;
}

.container__title button {
  margin-top: 20px;
  width: 400px;
  padding: 8px;
  background-color: #f25f4c;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.item__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-top: 20px;
  border: solid 1px #ccc;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item__task h6 {
  font-weight: 500;
  font-size: 14px;
}

.item__task button {
  background-color: transparent;
  border: none;
}
